#pictureOfMe{
	max-width: 30%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#kobePicture{
	max-width:150px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#moneyPicture{
	max-width:150px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border-radius: 5%;
}

@media only screen and (max-width: 800px) {
    #pictureOfMe{
		max-width: 50%;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
}

#heading{
	text-align: center;
}

#openingParagraph{
	text-align: center;
	margin: auto;
	margin-top: 40px;
	font-size: 18px;
}

#currentJob{
	text-align: center;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
}

@media only screen and (max-width: 500px) {
    #openingParagraph{
		text-align: center;
		margin-left: 35px;
		margin-right: 35px;
		margin-top: 40px;
		margin-bottom: 30px;
	}
}

#githubButton{
	width: 64px;
	height: 64px;
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
#linkedinButton{
	width: 64px;
	height: 64px;
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#resumeRow{
	margin-top: 2rem;
	margin-bottom: 3rem;
}

#resumeButton{
	color:#5c5c5c;
	text-decoration: none;
}

#projectsHeader{
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.btn{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.bodyContainer{
	margin-bottom: 150px;
}

.images{
	text-align:center;
}

.lead{
	text-align: center;
}

.card{
    margin-bottom: 1rem;
	margin-top: 1rem;
}
